<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Experience Easter</h2>
                <hr class="primary">
                <p>We warmly invite you to join the us in West Fife as we discover the real events behind Easter through art. 
Explore the Easter story at your pace through interactive displays suitable for all the family. 
The event will be open during holy week (22nd - 28th April). For more information contact:</p>
            </div>
        {% comment %}<div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>{% endcomment %}
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

    </div>
</section>
