<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">West Fife Baptists Holy Week Service</h2>
                <hr class="primary">
<p>Inverkeithing, Viewfield, Rosyth and Dunfermline West Baptist churches have once again come together this Holy Week to celebrate the unity that we have in Christ. Please do watch this service through at your own leisure and comment back on it.</p> 
            </div>
        </div>
    </div>
</section>
